ORGSPACE_POSTGRES_PASSWORD=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
PARTNER_FIELD_ACTIVE_KEY_VERSION=
PARTNER_FIELD_KEYS=
PARTNER_BLIND_INDEX_KEY=
SERVICE_VERSION=
JWT_ACTIVE_KEY_ID=
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
PHONE_CODE_PEPPER=
PHONE_PROVIDER=
ALIYUN_SMS_ACCESS_KEY_ID=
ALIYUN_SMS_ACCESS_KEY_SECRET=
ALIYUN_SMS_SIGN_NAME=
ALIYUN_SMS_TEMPLATE_CODE=
ALIYUN_SMS_TEMPLATE_PARAM_KEY=
ALIYUN_SMS_NOTIFICATION_TEMPLATE_CODE=
ALIYUN_SMS_NOTIFICATION_TEMPLATE_PARAM_KEY=
ALIYUN_SMS_ENDPOINT=
ALIYUN_SMS_REGION_ID=
