ORGSPACE_POSTGRES_PASSWORD=
SERVICE_VERSION=
JWT_ACTIVE_KEY_ID=
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
PHONE_CODE_PEPPER=
PHONE_PROVIDER=
ALIYUN_SMS_ACCESS_KEY_ID=
ALIYUN_SMS_ACCESS_KEY_SECRET=
ALIYUN_SMS_SIGN_NAME=
ALIYUN_SMS_TEMPLATE_CODE=
ALIYUN_SMS_TEMPLATE_PARAM_KEY=
ALIYUN_SMS_ENDPOINT=
ALIYUN_SMS_REGION_ID=
